@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  color: white;
  animation: linear;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-name: slide;
  transform: translate(-100vw, 0);
}

.headerfont {
  font-size: 1.15rem;
}

.fade-anim {
  animation: fadeAnim 400ms ease-out;
}

.cart-anim {
  animation: fadeAnim 400ms ease-in;
  overflow-y: auto;
}

.maybemove {
  animation-timing-function: ease-in-out;
  animation-duration: 100ms;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cartAnim {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translate(-50vw, 0);
  }

  5% {
    transform: translate(0, 0);
  }

  45% {
    transform: translate(0, 0);
  }

  65% {
    transform: translate(99vw, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}

.item {
  min-width: 250px;
  min-height: 250px;
  padding: 1px;
}

.grabimg {
  cursor: pointer;
}

.inner-carousel {
  display: flex;
  width: 100%;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  width: 4200px;
}

.carouselallitems {
  cursor: grab;
  overflow: hidden;
  width: 5400px;
}

.brandborder {
  border-top: 1px solid #eee;
}

.headerborder {
  border-bottom: 1px solid;
}

.inpborder {
  border: 1px solid #ccc;
}

.cartborder {
  border-top: 1px solid #ccc;
}

.botbordercustom {
  border-bottom: 1px solid #ccc;
}

.accountborder {
  border-bottom: 1px solid #ccc;
}

.cancelborder {
  border-bottom: 0px solid#ccc;
}

.opaci {
  opacity: 1;
}

.cartshadow {
  box-shadow: 0 0 24px 0 rgba(0, 4, 10, 0.2);
}

.focussort {
  border: red;
  border: 20px;
}

.bgparent {
  background: rgba(0, 0, 0, 0.9);
}

.checkoutmodal {
  background: rgba(0, 0, 0, 0.6);
}

.bgchild {
  background: rgb(255, 255, 255, 1);
}

.loadingsvg {
}

.topbotborder {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.topblack {
  border-top: 1px solid black;
}

.topborder {
  border-top: 1px solid #ccc;
}

.menuborder {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  outline: none;
}

.bottomleftrightb {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.topleftrightborder {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.midtext {
  position: absolute;
  height: 77%;
  text-align: center;
  width: 100%;
}
.midtext:before {
  content: "";
  display: inline-block;
  height: 100%;
}

.midtextmobile {
  position: absolute;
  height: 52%;
  text-align: center;
  width: 100%;
}
.midtextmobile:before {
  content: "";
  display: inline-block;
  height: 100%;
}

.desktopheader {
  position: absolute;
  height: 60%;
  text-align: center;
  width: 100%;
}
.desktopheader:before {
  content: "";
  display: inline-block;
  height: 100%;
}

.newintext {
  position: absolute;
  height: 52%;
  text-align: center;
  width: 100%;
}
.newintext:before {
  content: "";
  display: inline-block;
  height: 100%;
}

.mainpicturemobile {
  position: absolute;
  height: 81%;
  text-align: center;
  width: 100%;
}
.mainpicturemobile:before {
  content: "";
  display: inline-block;
  height: 100%;
}

.maintextmobile {
  position: absolute;
  height: 88%;
  text-align: center;
  width: 100%;
}
.maintextmobile:before {
  content: "";
  display: inline-block;
  height: 100%;
}

.shopnowcenter {
  position: absolute;
  top: 82%;
  text-align: center;
  width: 100%;
}
.shopwnocenter:before {
  content: "";
  display: inline-block;
  top: 100%;
}

.category {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}

.category::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.arrowtwo {
  color: white;
  animation: linear;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-name: slidetwo;
  transform: translate(-100vw, 0);
}

.hero img {
  animation-name: hero;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.buttonfill {
   {
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
  }
}

.heart {
  animation: heartbeat 1s infinite;
  fill: black;
  color: black;
  opacity: 1;
  transition: opacity 1000ms;
}

@keyframes slidetwo {
  0% {
    transform: translate(-50vw);
  }

  5% {
    transform: translate(0, 0);
  }

  45% {
    transform: translate(0, 0);
  }

  65% {
    transform: translate(99vw, 0);
  }

  100% {
    transform: translate(100vw, 0);
  }
}

.scrollcart {
  overflow-y: hidden;
}

html,
body {
  min-width: 320px;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
